$image-logo                          : url('../svg/logo.svg');
$image-logo-white                    : url('../svg/logo-white.svg');
$image-mouse-white                   : url('../svg/mouse-white.svg');
$image-mouse-black                   : url('../svg/mouse-black.svg');

//Burgers
$image-burger-white                  : url('../svg/burger-white.svg');
$image-burger-blue                   : url('../svg/burger-blue.svg');
$image-burger-asiaoptom              : url('../svg/company/asiaoptom/burger-asiaoptom.svg');
$image-burger-g2rmachine             : url('../svg/company/g2rmachine/burger-g2rmachine.svg');
$image-burger-g2rlogistics           : url('../svg/company/g2rlogistics/burger-g2rlogistics.svg');
$image-burger-printural              : url('../svg/company/printural/burger-printural.svg');
$image-burger-g2rexport              : url('../svg/company/g2rexport/burger-g2rexport.svg');

//Close menus
$image-close-menu                    : url('../svg/close-menu.svg');
$image-close-menu-asiaoptom          : url('../svg/company/asiaoptom/close-menu-asiaoptom.svg');
$image-close-menu-g2rmachine         : url('../svg/company/g2rmachine/close-menu-g2rmachine.svg');
$image-close-menu-g2rlogistics       : url('../svg/company/g2rlogistics/close-menu-g2rlogistics.svg');
$image-close-menu-printural          : url('../svg/company/printural/close-menu-printural.svg');
$image-close-menu-g2rexport          : url('../svg/company/g2rexport/close-menu-g2rexport.svg');

//Mainpage images
$image-mainpageHero                  : url('../img/mainPageHero-bg.jpg');

//AsiaOptom images
$image-bg-top-asiaoptom              : url('../svg/company/asiaoptom/mainpage/asiaoptom-top.svg');
$image-bg-top-asiaoptom-small        : url('../svg/company/asiaoptom/mainpage/asiaoptom-top-small.svg');
$image-bg-bottom-asiaoptom           : url('../svg/company/asiaoptom/mainpage/asiaoptom-bottom.svg');
$image-steps-arrow                   : url('../svg/company/asiaoptom/steps/steps-arrow.svg');
$image-asiaoptom-offer1-bg           : url('../svg/company/asiaoptom/offer1/asiaoptom-offer1-bg.svg');
$image-asiaoptom-offer1-bg2          : url('../svg/company/asiaoptom/offer1/asiaoptom-offer1-bg2.svg');
$image-asiaoptom-offer2-bg           : url('../svg/company/asiaoptom/offer2/asiaoptom-offer2-bg.svg');
$image-asiaoptom-offer3-products2    : url('../svg/company/asiaoptom/offer1/products2.svg');
$image-asiaoptom-plus                : url('../svg/company/asiaoptom/plus-accordion.svg');
$image-asiaoptom-minus               : url('../svg/company/asiaoptom/minus-accordion.svg');

//G2R Machine images
$image-bg-top-g2rmachine              : url('../svg/company/g2rmachine/mainpage/g2rmachine-top.svg');
$image-bg-top-g2rmachine-small        : url('../svg/company/g2rmachine/mainpage/g2rmachine-top-small.svg');
$image-bg-bottom-g2rmachine           : url('../svg/company/g2rmachine/mainpage/g2rmachine-bottom.svg');
$image-bg-bottom-g2rmachine-small     : url('../svg/company/g2rmachine/mainpage/g2rmachine-bottom-small.svg');
$image-g2rmachine-useful1-bg          : url('../svg/company/g2rmachine/useful/g2rmachine-useful1-bg.svg');
$image-g2rmachine-useful2-bg          : url('../svg/company/g2rmachine/useful2/g2rmachine-useful2-bg.svg');

//G2R Logistics images
$image-bg-top-g2rlogistics            : url('../svg/company/g2rlogistics/mainpage/g2rlogistics-top.svg');
$image-bg-bottom-g2rlogistics         : url('../svg/company/g2rlogistics/mainpage/g2rlogistics-bottom.svg');
$image-bg-bottom-g2rlogistics-small   : url('../svg/company/g2rlogistics/mainpage/g2rlogistics-bottom-small.svg');
$image-g2rlogistics-offer-bg          : url('../svg/company/g2rlogistics/offer/bg.svg');

//PrintUral Logistics images
$image-bg-top-printural               : url('../svg/company/printural/mainpage/printural-top.svg');
$image-bg-bottom-printural            : url('../svg/company/printural/mainpage/printural-bottom.svg');
$image-printural-services1-bg          : url('../svg/company/printural/services/printural-services1-bg.svg');
$image-printural-services2-bg          : url('../svg/company/printural/services2/printural-services2-bg.svg');

//G2R Export Logistics images
$image-bg-top-g2rexport               : url('../svg/company/g2rexport/mainpage/g2rexport-top.svg');
$image-bg-bottom-g2rexport            : url('../svg/company/g2rexport/mainpage/g2rexport-bottom.svg');
$image-bg-bottom-g2rexport-small      : url('../svg/company/g2rexport/mainpage/g2rexport-bottom-small.svg');
$image-g2rexport-services-bg          : url('../svg/company/g2rexport/services/g2rexport-services-bg.svg');



//Shapes
$shape-white                         : url('../svg/shape-white.svg');
