// Font
$mainFont                   : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor              : #101010;
$mainFontSize               : 18px;
$mainFontWeight             : 400;
$mainLineHeight             : 1.4;

//Width size
$TVWidth                    : 2560px;
$bigDesktopWidth            : 1920px;
$desktopWidth               : 1440px;
$smDesktopWidth             : 1024px;
$noSliderDesktopWidth       : 1020px;
$tableWidth                 : 768px;
$phoneWidth                 : 376px;
$smPhoneWidth               : 320px;

//Between width size
$TVWidth-bigDesktopWidth           :2240px;
$bigDesktopWidth-desktopWidth      :1680px;
$laptopWidth                       :1366px;
$desktopWidth-smDesktopWidth       :1232px;
$smDesktopWidth-tableWidth         :896px;
$smtableWidth                      :620px;
$bigPhoneWidth                     :575px;
$NormPhoneWidth                    :480px;

// Main color
$color-white                :#ffffff;
$color-text                 :#333333;
$color-text-footer          :#F8F8F8;
$color-link                 :#1150B6;
$color-red-for-table        :#E40000;

//Company color
$color-asiaoptom            :#FF6300;

$color-g2rmachine           :#004290;

$color-g2rlogistics         :#1C70B5;
$color-g2rlogistics-first   :#104ba9;
$color-g2rlogistics-second  :#E34F1B;

$color-g2rexport            :#092E69;
$color-g2rexport-first      :#104BA9;

$color-g2rmarket            :#4B4BD8;

$color-printural            :#FFB518;
$color-printural-first      :#AA155B;
$color-printural-second     :#05A32F;

//Table color tr in Asiaoptom
$color-table-tr             :#FFFAF7;

//Border color
$border-blocks-company      :#999999;
$border-hr-menu             :#E4E4E4;
$border-footer              :#2B2B2C;

//Color svg with scroll
$color-scroll               :#1150B6;



