.footer {
    display: none;
    @media screen and (max-width: $noSliderDesktopWidth) {
        display: block;
    }
    background-color: $color-text;

    .container{
        width: calc(100% - 30px);
        margin: 0 15px;

        @media screen and (max-width: $phoneWidth) {
            width: calc(100% - 36px);
            margin: 0 18px;
        }
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $border-footer;
        height: 66px;

        @media screen and (max-width: $phoneWidth) {
            height: 62px;
        }
    }

    &__logo{
        display: block;
        width: 80px;
        height: 26px;
        background-image: $image-logo-white;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100%;

        @media screen and (max-width: $phoneWidth) {
            width: 70px;
            height: 22px;
        }
    }

    &__links{
        display: flex;
    }

    &__links &__link:first-child{
        margin-right: 40px;
        @media screen and (max-width: $smPhoneWidth) {
            margin-right: 24px;
        }
    }

    &__link{
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        display: block;
        color: $color-text-footer;

        @media screen and (max-width: $smPhoneWidth) {
            font-size: 14px;
            line-height: 18px;
        }
        &.title{
            font-weight: bold;
            color: $color-white;
        }
        @at-root {
            a#{&} {
                transition: .1s;
                &:hover{
                    opacity: .6;
                }
            }
        }
    }

    &__center{
        border-bottom: 1px solid $border-footer;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: $phoneWidth) {
            flex-direction: column;
        }
    }
    &__center &__link{
        width: 48%;

        @media screen and (max-width: $phoneWidth) {
            width: 100%;
        }
    }
    &__center &__link:nth-last-child(n+3){
        margin-bottom: 25px;
    }
    &__center &__link:first-child{
        width: 100%;
        margin-bottom: 20px;
    }

    &__center &__link:not(:last-child){
        @media screen and (max-width: $phoneWidth) {
            margin-bottom: 25px;
        }
    }

    &__bottom{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: $phoneWidth) {
            padding-top: 30px;
            padding-bottom: 30px;
            flex-direction: column;
        }
    }
    &__bottom &__link:first-child{
        margin-right: 80px;

        @media screen and (max-width: $phoneWidth) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}
